In [1]:
# Jupyter notebook to analyze datasets to be used for machine learning training of models, and model scoring

# import Pandas library to manipulate and analyze datasets
import pandas as pd
import numpy as np

pd.set_option('display.max_columns',None)

In [24]:
# load datasets

# telco provider customer churn
df_churn_train = pd.read_csv('./sets/customer_churn_train.csv',sep=",", encoding = "utf-8", low_memory=False)
df_churn_test = pd.read_csv('./sets/customer_churn_test.csv',sep=",", encoding = "utf-8", low_memory=False)

# tumor malignant 
df_cancer_train = pd.read_csv('./sets/cancer_train.csv',sep=",", encoding = "utf-8", low_memory=False)
df_cancer_test = pd.read_csv('./sets/market_train.csv',sep=",", encoding = "utf-8", low_memory=False)

# hospital patient readmit
df_readmit = pd.read_csv('./sets/patient_re_admit_train.csv',sep=",", encoding = "utf-8", low_memory=False)

# boston housing sale data
df_boston_housing = pd.read_csv('./sets/boston_housing_train.csv',sep=",", encoding = "utf-8", low_memory=False)

# customer life-time value
df_ltv = pd.read_csv('./sets/ltv_train.csv',sep=",", encoding = "utf-8", low_memory=False)

# employee retention
df_retention = pd.read_csv('./sets/retention_train.csv',sep=",", encoding = "utf-8", low_memory=False)

# bank loan defaults
df_loan_default = pd.read_csv('./sets/loan_default_dr_train.csv',sep=",", encoding = "utf-8", low_memory=False)

# predictive maintenance for equipment
df_pdm = pd.read_csv('./sets/pdm_machine_train.csv',sep=",", encoding = "utf-8", low_memory=False)

# Vermont Public Safety datasets 
# https://data.vermont.gov/browse?q=public%20safety&sortBy=relevance
# traffic fatalities
df_traffic_fatalities = pd.read_json('https://data.vermont.gov/resource/kurq-9xgq.json')

# dui
df_dui = pd.read_json('https://data.vermont.gov/resource/cgjb-4rbe.json')

# dui with crash
df_dui_crash = pd.read_json('https://data.vermont.gov/resource/qpcy-6kzw.json')

In [ ]:
# employee retention analysis

In [25]:
df_retention.shape

(11998, 10)

In [27]:
list(df_retention)

['satisfaction_level',
 'last_evaluation',
 'number_project',
 'average_montly_hours',
 'time_spend_company',
 'Work_accident',
 'left',
 'promotion_last_5years',
 'group_id',
 'salary']

In [33]:
df_retention.head(5)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,group_id,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [29]:
df_retention['group_id'].value_counts()

sales          3245
technical      2244
support        1821
IT              976
RandD           695
product_mng     686
marketing       672
accounting      622
hr              601
management      436
Name: group_id, dtype: int64

In [ ]:
# boston housing data

In [31]:
df_boston_housing.shape

(29998, 33)

In [32]:
df_boston_housing.head(5)

,PID,ST_NUM,ST_NAME,ST_NAME_SUF,ZIPCODE,Assessed_Value,Lot_Area,Gross_Area,Living_Area,Owner_Occupied,Year_Built,Number_of_Floors,Total_Number_of_Rooms,Number_of_Bedrooms,Number_of_Full_Baths,Number_of_Half_Baths,Number_of_Kitchens,Has_AC,Number_of_Fireplaces,Year_Since_Remodel_or_Build,Year_Remodeled,Structure_Type,Building_Style,Roof_Type,Exterior_Finish,Main_Bathroom_Style,Main_Kitchen_Style,Heating_type,Exterior_Condition,Overall_Condition,Interior_Condition,Interior_Finish,View
0,2001658000_,43,STRATFORD,ST,02132_,963300,20897,7396,3887,1,1910,2.0,13,4,1,1,1,1,1,3,2014,Residential,Colonial,Hip,Vinyl,Modern,Modern,Forced Air,Average,Average,Average,Normal,Average
1,2001659000_,47,STRATFORD,ST,02132_,915600,9856,6730,3566,1,1910,2.0,9,4,1,0,1,0,2,25,1992,Residential,Colonial,Hip,Wood Shake,Modern,Modern,Hot Water,Average,Average,Good,Normal,Average
2,2001660000_,53,STRATFORD,ST,02132_,911400,8415,6442,2843,1,1910,2.0,11,6,2,1,1,1,1,6,2011,Residential,Colonial,Gable,Wood Shake,Semi-Modern,Modern,Hot Water,Good,Good,Good,Normal,Average
3,2001661000_,57,STRATFORD,ST,02132_,862500,8333,6020,3558,1,1910,2.5,11,6,2,0,1,0,1,27,1990,Residential,Colonial,Hip,Wood Shake,Semi-Modern,Modern,Hot Water,Average,Average,Good,Normal,Average
4,2001662000_,61,STRATFORD,ST,02132_,789300,8232,5574,2978,1,1910,2.0,9,5,2,0,1,0,1,14,2003,Residential,Colonial,Gable,Wood Shake,Modern,Modern,Hot Water,Average,Average,Good,Normal,Average

In [35]:
df_boston_housing['Has_AC'].value_counts()

0    24366
1     5632
Name: Has_AC, dtype: int64

In [ ]:
# vermont dui data

In [36]:
df_dui.head(5)

,incident_id,incident_date_time,agency,incident_type,town_of_incident,county_of_incident,county_of_arrest,arrest_statutes,arresting_agency,arrestee_gender,arrestee_age,count
0,16C104877,2016-09-04 18:19:00,VSP: Rutland,Drive/Operate Under Influence,Mendon,Rutland,Rutland,23V1201A1#3,VSP: Rutland,Male,73,1
1,16B103451,2016-09-04 01:58:00,VSP: Saint Johnsbury,Drive/Operate Under Influence|DLS|Violate Cond...,Lyndon,Caledonia,Caledonia,23V1201,VSP: Saint Johnsbury,Male,22,1
2,16A303786,2016-09-03 19:51:00,VSP: Middlesex,Accident - Injury|Drive/Operate Under Influence,East Montpelier,Washington,Washington,23V1201,VSP: Middlesex,Male,57,1
3,16B103435,2016-09-03 00:33:00,VSP: Saint Johnsbury,Drive/Operate Under Influence,Lyndon,Caledonia,Caledonia,23V1201,VSP: Saint Johnsbury,Female,25,1
4,16B103419,2016-09-02 01:56:00,VSP: Saint Johnsbury,Drive/Operate Under Influence,Lyndon,Caledonia,Caledonia,23V1201A1#1/R,VSP: Saint Johnsbury,Male,22,1

In [38]:
df_dui['arrestee_gender'].value_counts()

Male      725
Female    275
Name: arrestee_gender, dtype: int64

In [ ]:
# vermont traffic fatalaties

In [39]:
df_traffic_fatalities.head(5)

,incident_no,agency,crash_date,crash_city,crash_day,year,conditions,crash_circumstances,role,crash_injury,seatbelt,gender,age,count,crash_time,crash_location,latitude,:@computed_region_5r79_s8s6
0,193903,VSP - B2 Royalton,2017-03-19T00:00:00.000,Reading,2017,Sunday,Good,Driving too fast for conditions,Driver,Fatality (K),No,Male,20.7,1,NaT,NaN,NaN,NaN
1,193577,VSP - B4 Rutland,2017-03-18T00:00:00.000,Killington,2017,Saturday,Good,Exceeded authorized speed limit,Passenger,Fatality (K),No,Male,30.0,1,2022-04-23 01:00:00,NaN,NaN,NaN
2,194346,VSP - A5 Derby,2017-02-25T00:00:00.000,Barton,2017,Saturday,Good,Failure to keep in proper lane,Driver,Fatality (K),Yes,Male,73.4,1,2022-04-23 15:00:00,MinCollector,"{'latitude': '44.81912', 'longitude': '-72.184...",3215.0
3,192599,VSP - B2 Royalton,2017-02-16T00:00:00.000,Hartland,2017,Thursday,Slick,Driving too fast for conditions,Driver,Fatality (K),Yes,Male,50.0,1,2022-04-23 06:00:00,I-91,"{'latitude': '43.59563', 'longitude': '-72.347...",3218.0
4,192095,VSP - A2 St. Albans,2017-02-04T00:00:00.000,Georgia,2017,Saturday,Good,Operating vehicle in erratic- reckless- carele...,Driver,Fatality (K),No,Male,35.2,1,2022-04-23 16:00:00,I-89,NaN,NaN

In [40]:
df_traffic_fatalities['role'].value_counts()

Driver        208
Passenger      60
Pedestrian     15
Bicycle         4
Name: role, dtype: int64

In [ ]:
# customer churn data

In [41]:
df_churn_train.head(5)

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [43]:
# drop columns not relevant for training
df=df_churn_train.drop(['Area Code','Phone'],axis=1)

In [44]:
# create a random train test ( 20 percent ) split
msk = np.random.rand(len(df)) < 0.20
train = df[~msk]
test = df[msk]

In [45]:
train.shape

(2396, 19)

In [46]:
test.shape

(602, 19)

In [47]:
# merge datasets
df_both = pd.concat([train,test])

In [48]:
# num of rows
df_both.shape

(2998, 19)

In [49]:
# write dataframe to csv
df_both.to_csv('./sets/customer_churn.csv',index=False,sep=',')